{% extends 'douapp/base.html' %}
{% block content %}
<main>
<h1>{{ user.get_full_name }}の伝道履歴<h1><br>
  <table>
        <tr>
          <th>名前</th>
          <th>寮</th>
          <th>学校</th>
          <th>日付</th>
        </tr>
  {% for r in object_list %}
        <tr>
          <td><a href="{% url 'tamashi' r.pk %}">{{r.name}}</a></td>
          <td><a href="{%url 'p_detail' r.dormitory %}">{{r.dormitory}}</a> {{r.room}}</td>
          <td>{{r.school}}</td>
          <td>{{r.visit}}</td>
        </tr>

    {% empty %}
    結果はありません.
    {% endfor %}
    </table>
    </main>
{% endblock %}
